@import-normalize;
/* bring in normalize.css styles */

body {
  margin: 30px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: var(--primaryTextColor);
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url('./Img/Bg.jpg');
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}